.buttonLog {
    width: 100%;
    padding: 0 16px;
    border: none;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    background-color: #1877f2;
    color: white;
    font-size: 20px;
    line-height: 48px;
    outline: none;
    transition: 0.3s;
}

.buttonLog:hover {
    cursor: pointer;
    filter: brightness(90%);
}